global

defaults
    mode    http
    option  forwardfor
    option  http-server-close
    # Set the max time to wait for a connection attempt to a server to succeed
    timeout connect 30s
    # Set the max allowed time to wait for a complete HTTP request
    timeout client  50s
    # Set the maximum inactivity time on the server side
    timeout server  50s
    # handle the situation where a client suddenly disappears from the net
    timeout client-fin 30s

frontend http-in
    bind *:8300
    mode http

    acl has_administration  path_beg /administration
    acl has_gatling  path_beg /gatling
    acl has_sandbox  path_beg /sandbox
    acl has_grafana  path_beg /grafana

    # Add CORS headers when Origin header is present
    capture request header origin len 128
    http-response add-header Access-Control-Allow-Origin %[capture.req.hdr(0)] if { capture.req.hdr(0) -m found } has_grafana
    rspadd Access-Control-Allow-Methods:\ GET,\ HEAD,\ OPTIONS,\ POST,\ PUT  if { capture.req.hdr(0) -m found } has_grafana
    rspadd Access-Control-Allow-Credentials:\ true  if { capture.req.hdr(0) -m found } has_grafana
    rspadd Access-Control-Allow-Headers:\ Origin,\ Accept,\ X-Requested-With,\ Content-Type,\ Access-Control-Request-Method,\ Access-Control-Request-Headers,\ Authorization  if { capture.req.hdr(0) -m found } has_grafana

    use_backend kraken-grafana if has_grafana
    use_backend kraken-administration if has_administration
    use_backend kraken-gatling if has_gatling
    use_backend kraken-sandbox if has_sandbox

backend kraken-grafana
    server grafana localhost:3000 check fall 3 rise 2
    http-request set-path %[path,regsub(^/grafana/?,/)]
    acl res_status_404 status eq 404
    http-response set-status 200 if res_status_404 METH_OPTIONS

backend kraken-administration
    server kraken-administration-ui localhost:4200

backend kraken-gatling
    server kraken-gatling-ui localhost:4222

backend kraken-sandbox
    server kraken-sandbox-ui localhost:4223