[submodule "backend/applications/ee"]
	path = backend/applications/ee
	url = git@github.com:geraldpereira/kraken-applications-ee.git
[submodule "backend/commons/ee"]
	path = backend/commons/ee
	url = git@github.com:geraldpereira/kraken-commons-ee.git
[submodule "deployment"]
	path = deployment
	url = git@github.com:geraldpereira/kraken-deployment.git
[submodule "documentation"]
	path = documentation
	url = git@github.com:geraldpereira/kraken-documentation.git
