<lib-help-anchor pageId="PROJECT_IMPORT"></lib-help-anchor>
<form [formGroup]="projectForm" autocomplete=off
      class="block-filler"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px">
  <h1 fxFlex="nogrow">Import Project from Git</h1>

  <app-project-name-input
    class="project-form-field"
    fxFlex="nogrow"
    fxFlexOffset="20px"
    [projectForm]="projectForm">
  </app-project-name-input>

  <app-application-input
    class="project-form-field"
    fxFlex="nogrow"
    [projectForm]="projectForm">
  </app-application-input>

  <lib-repository-url-input
    class="project-form-field"
    fxFlex="nogrow"
    [formGroup]="projectForm">
  </lib-repository-url-input>

  <lib-ssh-public-key class="project-form-field" fxFlexOffset="20px"></lib-ssh-public-key>

  <div fxFlex="nogrow">
    <button mat-button routerLink=".." type="button">Cancel</button>
    <button mat-button (click)="create()"
            type="submit" color="accent"
            [disabled]="!projectForm.valid">
      Import
    </button>
  </div>
</form>
