@media (max-width: 550px) {
    .md-header {
        display: none;
    }

    .md-container, .md-main__inner, .md-content__inner {
        padding-top: 0;
    }

    .md-footer {
        display: none;
    }

    html {
        font-size: 100%;
    }
}
