<form [formGroup]="simulationForm" autocomplete=off>
  <h1 mat-dialog-title>{{data.type | prettyString}} Simulation</h1>
  <div mat-dialog-content>
    <lib-help-anchor [pageId]="data.type === 'DEBUG' ? 'GATLING_DEBUG_DIALOG' : 'GATLING_RUN_DIALOG'"></lib-help-anchor>
    <mat-form-field class="block-filler-x">
      <input matInput placeholder="package.Class" formControlName="simulationName"
             (keydown.enter)="simulationForm.valid ? run() : null"
             required>
      <mat-error *ngIf="simulationName.hasError('required')">
        Simulation name is required.
      </mat-error>
      <mat-error *ngIf="simulationName.hasError('pattern')">
        Invalid simulation name.
      </mat-error>
    </mat-form-field>
    <app-description-input #descriptionInput [formGroup]="simulationForm"
                           [value]="(data.type | prettyString) + ' '+ data.simulationClass"></app-description-input>
    <lib-hosts-selector #hostsSelector [formGroup]="simulationForm"
                        [storageId]="data.type +'-'+ data.simulationPackage + '.'+ data.simulationClass"
                        [multiple]="data.type === 'RUN'"></lib-hosts-selector>
    <lib-environment-variables-list #envVarList [formGroup]="simulationForm"
                                    [storageId]="data.type +'-'+ data.simulationPackage + '.'+ data.simulationClass"
                                    [hostIds]="hostsSelector.hostIds"></lib-environment-variables-list>
    <lib-message level="error" centered="true" class="text-error" *ngIf="data.type === 'DEBUG' && !data.atOnce">
      Please configure your script to run only one iteration '.inject(atOnceUsers(1)'.
      You might generate a lot of debug files and crash the system otherwise!
    </lib-message>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()" type="button">Cancel</button>
    <button mat-button (click)="run()" cdkFocusInitial
            type="submit" color="accent"
            [disabled]="!simulationForm.valid">
      {{data.type | prettyString}}
    </button>
  </div>
</form>
